# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# PyCharm/VSCode
.idea/
.vscode/

# Audio/Text temp folders
*_text/
*_audio/

# Final outputs
final/
/final/
file.txt

# System files
.DS_Store
*.log
logs/*
.logs
.data/

# Build and distribution directories
builds/
build/
dist/
*.egg-info/

# Generated user data and application output
data/